In [1]:
# 1. append()
#Adds an element to the end of the list

my_list = [4,5,6,8]
my_list.append(2)
print(my_list)

[4, 5, 6, 8, 2]

In [2]:
# 2. remove()
# Removes the first occurrence of a specified element.

my_list = [1, 2, 3, 4, 3] 
my_list.remove(4) 
print(my_list)

[1, 2, 3, 3]

In [4]:
# 3 index()
# Returns the index of the first occurrence of a specified element.

my_list = [1, 2, 3, 4, 3] 
print(my_list.index(3))

2

In [5]:
# 4. extend()
# Appends the elements of another iterable to the end of the list.

my_list = [12, 13, 14] 
my_list.extend([4, 5, 6]) 
print(my_list)

[12, 13, 14, 4, 5, 6]

In [6]:
# TUPLE
# 5. COUNT()
#Returns the number of occurrences of a specified element

my_tuple = (1, 2, 3, 4, 3) 
print(my_tuple.count(3))

2

In [7]:
#TUPLE 
6. #index()
#Returns the index of the first occurrence of a specified element.

my_tuple = (1, 2, 3, 4, 3) 
print(my_tuple.index(3))

2

In [ ]:
6.	
pythonCopy code
 # Output: [1, 1, 2, 3, 4, 5, 9] 
7.	 # Output: [5, 4, 3, 2, 1] 
8.	 # Output: 3 print(my_list) # Output: [1, 2, 4, 5]

In [8]:
# 7 sort()
# Sorts the elements of a list.

my_list = [3, 1, 4, 1, 5, 9, 2] 
my_list.sort() 
print(my_list)

[1, 1, 2, 3, 4, 5, 9]

In [11]:
# 8.pop()
# Removes and returns the element at the specified index.

my_list = [4, 2, 3, 4, 5]
print(my_list.pop(2))

3

In [ ]:
# 9. reverse()
Reverses the elements of a list.

my_list = [1, 2, 3, 4, 5] 
my_list.reverse() 
print(my_list)

In [15]:
# 10. get()
# Returns the value of the specified key. If the key does not exist, it returns a default value.

my_dict = {'job': 'teacher', 'grade': 12} 
value = my_dict.get('grade', 0) 
print(value)

12

In [14]:
# 11. popitem()
# it removes and returns the last key-value pair as a tuple.

my_dict = {'job': 'teacher', 'grade': 12}
popped_item = my_dict.popitem() 
print(popped_item)

('grade', 12)

In [16]:
# 12. values()
# Returns a view of all the values in the dictionary.

my_dict = {'job': 'teacher', 'grade': 12}
values = my_dict.values() 
print(values)

dict_values(['teacher', 12])

In [17]:
# 13. update()
# Updates the dictionary with elements from another dictionary or from an iterable of key-value pairs.

my_dict = {'job': 'teacher', 'grade': 12}
my_dict.update({'city': 'New York', 'age': 26}) 
print(my_dict)

{'job': 'teacher', 'grade': 12, 'city': 'New York', 'age': 26}

In [13]:
# 14. keys()
# Returns a view of all the keys in the dictionary.

my_dict = {'job': 'teacher', 'grade': 12} 
keys = my_dict.keys() 
print(keys)

dict_keys(['job', 'grade'])

In [18]:
# 15. copy()
# Returns a shallow copy of the dictionary.

my_dict = {'job': 'teacher', 'grade': 12} 
copy_dict = my_dict.copy() 
print(copy_dict)

{'job': 'teacher', 'grade': 12}

In [19]:
# 16. clear()
# Removes all items from the dictionary.

my_dict =  {'job': 'teacher', 'grade': 12} 
my_dict.clear() 
print(my_dict)

{}